MONGO_URI=mongodb://localhost:27017/hotel-management
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/hotel-management
JWT_SECRET=supersecreto
FRONTEND_URL=https://TU_DOMINIO_NETLIFY_ADMIN
PORT=2117
NODE_ENV=development
SENTRY_DSN=

# Configuración de email para desarrollo/producción
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=MAILTRAP_USER
SMTP_PASS=MAILTRAP_PASS
EMAIL_FROM="Hotel PMS <no-reply@hotel.com>"
